In [1]:
# gerekli kütüphaneleri indirelim

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel("miuul_gezinomi.xlsx")
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

In [4]:
# veri kümesini tanıyalım

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SaleId,59164.0,302675.795433,87943.222683,51707.0,274038.500000,321607.000000,367373.000000,415122.00000
Price,59151.0,61.345057,51.384617,0.0,35.343035,54.261294,77.962578,4880.47138
SaleCheckInDayDiff,59164.0,31.840173,51.493509,0.0,2.000000,10.000000,34.000000,630.00000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB

In [7]:
# kaç unique şehir vardır ve frekansları nelerdir bulalım

In [8]:
df["SaleCityName"].nunique()

6

In [9]:
df["SaleCityName"].value_counts()

Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: SaleCityName, dtype: int64

In [10]:
# hangi konseptten kaçar adet satılmış

In [11]:
df["ConceptName"].value_counts()

Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: ConceptName, dtype: int64

In [12]:
# şehirlere göre fiyat toplamı

In [13]:
df.groupby("SaleCityName").agg({"Price": "sum"})

                     Price
SaleCityName
Antalya       2.041911e+06
Aydın         5.732960e+05
Diğer         1.545723e+05
Girne         2.706503e+04
Muğla         6.658422e+05
İzmir         1.659348e+05

In [14]:
# conseptlere göre fiyat toplamı

In [15]:
df.groupby("ConceptName").agg({"Price": "sum"})

                       Price
ConceptName
Herşey Dahil    3.332911e+06
Oda + Kahvaltı  1.213084e+05
Yarım Pansiyon  1.744024e+05

In [16]:
# şehirlere göre fiyet ortalaması

In [17]:
df.groupby("SaleCityName").agg({"Price": "mean"})

                  Price
SaleCityName
Antalya       64.521474
Aydın         53.855896
Diğer         47.707497
Girne         59.483579
Muğla         62.461746
İzmir         66.267905

In [18]:
# conseptlere göre fiyat ortalaması

In [19]:
df.groupby("ConceptName").agg({"Price": "mean"})

                    Price
ConceptName
Herşey Dahil    62.672260
Oda + Kahvaltı  50.252010
Yarım Pansiyon  49.030742

In [20]:
# consept ve şehir kırılımında ortalama fiyat

In [21]:
df.groupby(["ConceptName", "SaleCityName"]).agg({"Price": "mean"})

                                 Price
ConceptName    SaleCityName
Herşey Dahil   Antalya       64.519028
               Aydın         53.995467
               Diğer         84.771093
               Girne         97.680970
               Muğla         63.020053
               İzmir         74.701519
Oda + Kahvaltı Antalya       63.504816
               Aydın         34.458787
               Diğer         37.599082
               Girne         39.775536
               Muğla         59.037763
               İzmir         41.320342
Yarım Pansiyon Antalya       67.190613
               Aydın         30.016543
               Diğer         42.113440
               Girne         53.247838
               Muğla         45.120924
               İzmir         59.610053

In [22]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

In [23]:
df["SaleCheckInDayDiff"].nunique()

309

In [24]:
# SaleCheckInDayDiff değişkenini kategorik yapalım

In [25]:
df["SaleCheckInDayDiff"] = pd.cut(df["SaleCheckInDayDiff"], [-1, 7, 30, 90, df["SaleCheckInDayDiff"].max()], 
                                      labels=["Last Minuters", "Potential Planners", "Planners", "Early Bookers"])

In [26]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,Last Minuters,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,Last Minuters,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,Last Minuters,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,Last Minuters,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,Last Minuters,Low

In [27]:
# çeşitli kombinasyonlarla yapılan ödemeleri inceleyelim

In [28]:
df.groupby(["SaleCityName","ConceptName", "Seasons"]).agg({"Price": ["mean", "count"]})

                                          Price
                                           mean  count
SaleCityName ConceptName    Seasons
Antalya      Herşey Dahil   High      64.920065  27126
                            Low       61.552427   3667
             Oda + Kahvaltı High      66.267969    303
                            Low       60.666730    295
             Yarım Pansiyon High      73.259029    118
                            Low       62.001678    138
Aydın        Herşey Dahil   High      54.946560  10103
                            Low       33.680699    473
             Oda + Kahvaltı High      30.387530     27
                            Low       44.451874     11
             Yarım Pansiyon High      32.626152     20
                            Low       25.271799     11
Diğer        Herşey Dahil   High      83.787273    364
                            Low       87.310882    141
             Oda + Kahvaltı High      34.839543    349
                            Low       39.959569    408
             Yarım Pansiyon High      39.731916    516
                            Low       42.953978   1462
Girne        Herşey Dahil   High     103.935448     55
                            Low       90.935944     51
             Oda + Kahvaltı High      39.479630     66
                            Low       40.043067     73
             Yarım Pansiyon High      58.383668    100
                            Low       48.578903    110
Muğla        Herşey Dahil   High      63.384036   9582
                            Low       48.304086    237
             Oda + Kahvaltı High      61.264691    592
                            Low       37.774192     62
             Yarım Pansiyon High      45.823698    177
                            Low       32.681812     10
İzmir        Herşey Dahil   High      74.748363   1234
                            Low       74.308287    147
             Oda + Kahvaltı High      54.141797     86
                            Low       33.555235    142
             Yarım Pansiyon High      87.657303    118
                            Low       55.350626    777

In [29]:
df.groupby(["SaleCityName","ConceptName", "SaleCheckInDayDiff"]).agg({"Price": ["mean", "count"]})

                                                    Price
                                                     mean  count
SaleCityName ConceptName    SaleCheckInDayDiff
Antalya      Herşey Dahil   Last Minuters       62.752916  14148
                            Potential Planners  64.903700   8874
                            Planners            67.879960   4490
                            Early Bookers       66.494885   3281
             Oda + Kahvaltı Last Minuters       65.353740    503
...                                                   ...    ...
İzmir        Oda + Kahvaltı Early Bookers       66.928111      3
             Yarım Pansiyon Last Minuters       57.788126    636
                            Potential Planners  64.804043    198
                            Planners            60.507887     47
                            Early Bookers       65.905583     14

[72 rows x 2 columns]

In [30]:
# "SaleCityName","ConceptName", "Seasons" sutunlarında kırılınla price ın ortalama değerini inceleyip, price değişkenine göre azalan olarak sıralayıp, yeni bir dataframe oluşturalım

In [31]:
agg_df = df.groupby(["SaleCityName","ConceptName", "Seasons"]).agg({"Price": "mean"})
agg_df = agg_df.sort_values("Price", ascending=False)
agg_df

                                          Price
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High     103.935448
                            Low       90.935944
İzmir        Yarım Pansiyon High      87.657303
Diğer        Herşey Dahil   Low       87.310882
                            High      83.787273
İzmir        Herşey Dahil   High      74.748363
                            Low       74.308287
Antalya      Yarım Pansiyon High      73.259029
             Oda + Kahvaltı High      66.267969
             Herşey Dahil   High      64.920065
Muğla        Herşey Dahil   High      63.384036
Antalya      Yarım Pansiyon Low       62.001678
             Herşey Dahil   Low       61.552427
Muğla        Oda + Kahvaltı High      61.264691
Antalya      Oda + Kahvaltı Low       60.666730
Girne        Yarım Pansiyon High      58.383668
İzmir        Yarım Pansiyon Low       55.350626
Aydın        Herşey Dahil   High      54.946560
İzmir        Oda + Kahvaltı High      54.141797
Girne        Yarım Pansiyon Low       48.578903
Muğla        Herşey Dahil   Low       48.304086
             Yarım Pansiyon High      45.823698
Aydın        Oda + Kahvaltı Low       44.451874
Diğer        Yarım Pansiyon Low       42.953978
Girne        Oda + Kahvaltı Low       40.043067
Diğer        Oda + Kahvaltı Low       39.959569
             Yarım Pansiyon High      39.731916
Girne        Oda + Kahvaltı High      39.479630
Muğla        Oda + Kahvaltı Low       37.774192
Diğer        Oda + Kahvaltı High      34.839543
Aydın        Herşey Dahil   Low       33.680699
İzmir        Oda + Kahvaltı Low       33.555235
Muğla        Yarım Pansiyon Low       32.681812
Aydın        Yarım Pansiyon High      32.626152
             Oda + Kahvaltı High      30.387530
             Yarım Pansiyon Low       25.271799

In [32]:
agg_df.reset_index(inplace=True)
agg_df.head()

  SaleCityName     ConceptName Seasons       Price
0        Girne    Herşey Dahil    High  103.935448
1        Girne    Herşey Dahil     Low   90.935944
2        İzmir  Yarım Pansiyon    High   87.657303
3        Diğer    Herşey Dahil     Low   87.310882
4        Diğer    Herşey Dahil    High   83.787273

In [33]:
# "sales_level_based" adlı yeni bir sutun oluşturalım ve bu sutun SaleCityName ConceptName ve Seasons verilerinin birleştirilmesiyle oluşsun.

In [34]:
agg_df["sales_level_based"] = np.array(agg_df["SaleCityName"]) + "_" + np.array(agg_df["ConceptName"]) + "_" + np.array(agg_df["Seasons"])
agg_df["sales_level_based"] = agg_df["sales_level_based"].apply(lambda x: x.upper())
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,Last Minuters,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,Last Minuters,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,Last Minuters,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,Last Minuters,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,Last Minuters,Low

In [35]:
# price değişkeininden yeni bir kategorik sutun oluşturalım

In [36]:
agg_df["Segment"] = pd.qcut(agg_df["Price"], 4 ,labels=["standard","good", "very good","excellent" ])
df

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,Last Minuters,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,Last Minuters,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,Last Minuters,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,Last Minuters,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,Last Minuters,Low
...,...,...,...,...,...,...,...,...,...
59159,51817,2016-01-05,2016-10-10,54.304636,Herşey Dahil,Antalya,Monday,Early Bookers,Low
59160,51816,2016-01-05,2016-10-10,54.304636,Herşey Dahil,Antalya,Monday,Early Bookers,Low
59161,51814,2016-01-05,2016-01-06,40.562914,Herşey Dahil,Diğer,Wednesday,Last Minuters,Low
59162,51736,2016-01-04,2016-01-05,69.847682,Yarım Pansiyon,Diğer,Tuesday,Last Minuters,Low
59163,51731,2016-01-04,2016-08-22,158.940397,Herşey Dahil,Antalya,Monday,Early Bookers,High

In [37]:
agg_df.groupby("Segment").agg({"Price": ["mean","max","sum"]})

               Price
                mean         max         sum
Segment
standard   33.366288   39.479630  300.296592
good       44.887654   54.141797  403.988887
very good  60.274498   64.920065  542.470478
excellent  82.467833  103.935448  742.210498

In [38]:
agg_df.sort_values("Price")

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,Segment
35,Aydın,Yarım Pansiyon,Low,25.271799,AYDIN_YARIM PANSIYON_LOW,standard
34,Aydın,Oda + Kahvaltı,High,30.387530,AYDIN_ODA + KAHVALTI_HIGH,standard
33,Aydın,Yarım Pansiyon,High,32.626152,AYDIN_YARIM PANSIYON_HIGH,standard
32,Muğla,Yarım Pansiyon,Low,32.681812,MUĞLA_YARIM PANSIYON_LOW,standard
31,İzmir,Oda + Kahvaltı,Low,33.555235,İZMIR_ODA + KAHVALTI_LOW,standard
30,Aydın,Herşey Dahil,Low,33.680699,AYDIN_HERŞEY DAHIL_LOW,standard
29,Diğer,Oda + Kahvaltı,High,34.839543,DIĞER_ODA + KAHVALTI_HIGH,standard
28,Muğla,Oda + Kahvaltı,Low,37.774192,MUĞLA_ODA + KAHVALTI_LOW,standard
27,Girne,Oda + Kahvaltı,High,39.479630,GIRNE_ODA + KAHVALTI_HIGH,standard
26,Diğer,Yarım Pansiyon,High,39.731916,DIĞER_YARIM PANSIYON_HIGH,good
25,Diğer,Oda + Kahvaltı,Low,39.959569,DIĞER_ODA + KAHVALTI_LOW,good
24,Girne,Oda + Kahvaltı,Low,40.043067,GIRNE_ODA + KAHVALTI_LOW,good
23,Diğer,Yarım Pansiyon,Low,42.953978,DIĞER_YARIM PANSIYON_LOW,good
22,Aydın,Oda + Kahvaltı,Low,44.451874,AYDIN_ODA + KAHVALTI_LOW,good
21,Muğla,Yarım Pansiyon,High,45.823698,MUĞLA_YARIM PANSIYON_HIGH,good
20,Muğla,Herşey Dahil,Low,48.304086,MUĞLA_HERŞEY DAHIL_LOW,good
19,Girne,Yarım Pansiyon,Low,48.578903,GIRNE_YARIM PANSIYON_LOW,good
18,İzmir,Oda + Kahvaltı,High,54.141797,İZMIR_ODA + KAHVALTI_HIGH,good
17,Aydın,Herşey Dahil,High,54.946560,AYDIN_HERŞEY DAHIL_HIGH,very good
16,İzmir,Yarım Pansiyon,Low,55.350626,İZMIR_YARIM PANSIYON_LOW,very good
15,Girne,Yarım Pansiyon,High,58.383668,GIRNE_YARIM PANSIYON_HIGH,very good
14,Antalya,Oda + Kahvaltı,Low,60.666730,ANTALYA_ODA + KAHVALTI_LOW,very good
13,Muğla,Oda + Kahvaltı,High,61.264691,MUĞLA_ODA + KAHVALTI_HIGH,very good
12,Antalya,Herşey Dahil,Low,61.552427,ANTALYA_HERŞEY DAHIL_LOW,very good
11,Antalya,Yarım Pansiyon,Low,62.001678,ANTALYA_YARIM PANSIYON_LOW,very good
10,Muğla,Herşey Dahil,High,63.384036,MUĞLA_HERŞEY DAHIL_HIGH,very good
9,Antalya,Herşey Dahil,High,64.920065,ANTALYA_HERŞEY DAHIL_HIGH,very good
8,Antalya,Oda + Kahvaltı,High,66.267969,ANTALYA_ODA + KAHVALTI_HIGH,excellent
7,Antalya,Yarım Pansiyon,High,73.259029,ANTALYA_YARIM PANSIYON_HIGH,excellent
6,İzmir,Herşey Dahil,Low,74.308287,İZMIR_HERŞEY DAHIL_LOW,excellent
5,İzmir,Herşey Dahil,High,74.748363,İZMIR_HERŞEY DAHIL_HIGH,excellent
4,Diğer,Herşey Dahil,High,83.787273,DIĞER_HERŞEY DAHIL_HIGH,excellent
3,Diğer,Herşey Dahil,Low,87.310882,DIĞER_HERŞEY DAHIL_LOW,excellent
2,İzmir,Yarım Pansiyon,High,87.657303,İZMIR_YARIM PANSIYON_HIGH,excellent
1,Girne,Herşey Dahil,Low,90.935944,GIRNE_HERŞEY DAHIL_LOW,excellent
0,Girne,Herşey Dahil,High,103.935448,GIRNE_HERŞEY DAHIL_HIGH,excellent

In [39]:
# İZMIR_HERŞEY DAHIL_HIGH ve  GIRNE_YARIM PANSIYON_LOW yeni müşteriler için segment belirleyelim

In [40]:
new_user = "İZMIR_HERŞEY DAHIL_HIGH"
agg_df[agg_df["sales_level_based"] == new_user]

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,Segment
5,İzmir,Herşey Dahil,High,74.748363,İZMIR_HERŞEY DAHIL_HIGH,excellent

In [41]:
new_user2 = "GIRNE_YARIM PANSIYON_LOW"
agg_df[agg_df["sales_level_based"] == new_user2]

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,Segment
19,Girne,Yarım Pansiyon,Low,48.578903,GIRNE_YARIM PANSIYON_LOW,good